* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(121, 131, 155), rgb(6, 12, 62));
}

.logo {
    display: flex;
    margin: auto;
    width: 50px;
}

.container {
    border: 2px solid black;
    max-width: 80vw;
    margin: auto;
    height: 73vh;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 35px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message {
    background-color: rgba(200, 200, 200, 0.714);
    width: 25%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 7px;
    display: flex;
}

.right {
    align-self: flex-end;
}

.left {
    align-items: flex-start;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 90%;
    width: 100%;
}

#msgInp {
    width: 85%;
    border: 2px solid black;
    border-radius: 7px;
    height: 30px;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    padding: 8px;
    border-radius: 7px;
}