* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #3b1e9e;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body {
    display: grid;
    place-content: center;
    min-height: 97vh;
    background-color: #3b1e9e;
}

h1 {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 2.9rem;
}

.chat {
    background-color:
        rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
}

.msg {
    width: 420px;
    height: 490px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 1rem auto;
    padding: 1rem 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.input_msg {
    display: flex;
    justify-content: space-between;
}

input {
    width: 345px;
    font-size: 1rem;
    padding: 0.4rem 1.3rem;
    border-radius: 10px;
    border: 1px solid black;
}

.input_msg button {
    background-color: #3b1e9e;
    color: white;
    border: none;
    cursor: pointer;
    padding: .5rem 1.2rem;
    font-size: 0.9rem;
    border-radius: 10px;

}

.msg p {
    background-color: rgb(159, 157, 157);
    padding: .4rem 1rem;
    width: fit-content;
    border-radius: 10px;
    margin-top: 1rem;
}

.msg p span {
    display: block;
    font-weight: 700;
    opacity: 0.8;
}

.msg .sender {
    background-color: rgb(116, 189, 116);
    align-self: end;
}