body {
    font-family: 'Arial', sans-serif;
    background-color: #20215a;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #33267d;
    color: #443e8a;
    text-align: center;
    height: auto;
    width: 100%;
}

header nav {
    background-color: blue;
    height: 6vh;
    width: 100vw;
    text-align: center;
}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    top: 14px;
}

header nav ul li a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(124, 124, 177);
    font-weight: 750;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

header nav ul li a:hover {
    color: #00014f;
    background-color: #5555b3;
}

.ui {
    line-height: 1.6;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
}

.op {
    color: #ffffff;
}

section {
    max-width: 600px;
    margin: 20px auto;
    background-color: #484873;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
}

footer {
    height: 25px;
    background-color: black;
    color: #bcccdd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.written {
    font-size: 40px;
    color: rgb(145, 145, 174);
}

.rightsectoin img {
    height: 400px;
}

.io {
    color: #bcccdd;
    font-size: 50px;
}

h1,
h2,
h3 {
    color: #ffffff;
}

p {
    line-height: 1.6;
    color: #bcccdd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
    color: #bcccdd;
}

#element {
    font-weight: 800;
    color: black;
}

.purple {
    color: black;
    font-weight: 700;
}

.no {
    list-style: none;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
        width: 100%;
    }

    header {
        height: auto;
    }

    .written {
        font-size: 20px;
    }

    .io {
        font-size: 25px;
    }

    .rightsectoin img {
        height: auto;
        width: 100%;
    }

    .ui {
        font-size: 16px;
    }

    header nav ul {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        gap: 10px;
    }
}

@media only screen and (max-width: 400px) {
    header nav ul {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        font-size: 10px;
        gap: 5px;
    }
}